.nav-link {
    
    font-family: 'Advent Pro';
    font-size: 30px;
    padding: 1%;
   
    
  }
  a.nav-link{
    color:#000000;
  }
  .nav-link:hover {
    color: #837c7c; 
  }
  .head{
    color:#000000;
    font-family: 'Advent Pro';
    font-size: 50px;
    text-align: left;
   width: 30%;
  align-items: center;
  
    
  }
  .nav{
    width: 50%;
    text-align: right;
    margin-right: 2%;
  }
  .logo{
   width:20%;
   margin-left: 2%;
   height: 100%;
  }
  .wrap{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }